.twigrid .numeric {
	width: 82px;
}

.twigrid .numeric input {
	text-align: right;
}

.twigrid .birthday {
	width: 169px;
	line-height: 26px;
	text-align: center;
}

.twigrid td.numeric {
	font-family: Calibri;
}

.twigrid .birthday div {
	position: relative;
}

.twigrid input.date.min, .twigrid input.date.max {
	position: absolute;
	top: 50%;
	margin: -15px 0 0;
	width: 75px;
	height: 30px;
}

.twigrid input.min.date {
	left: 0;
}

.twigrid input.max.date {
	right: 0;
}
