.twigrid-cnt .numeric {
	width: 82px;
}

.twigrid-cnt .numeric input {
	text-align: right;
}

.twigrid-cnt .birthday {
	width: 196px;
	line-height: 26px;
	text-align: center;
}

.twigrid-cnt td.numeric {
	font-family: Calibri;
}

.twigrid-cnt .birthday div {
	position: relative;
}

.twigrid-cnt input.date.min, .twigrid-cnt input.date.max {
	position: absolute;
	top: 50%;
	margin: -15px 0 0;
	width: 90px;
	height: 30px;
}

.twigrid-cnt input.min.date {
	left: 0;
}

.twigrid-cnt input.max.date {
	right: 0;
}
