body {
	padding: 0 0 128px;
}



.hero-unit h2 {
	margin: 16px 0 32px;
	font-size: 230%;
	text-align: center;
}

.hero-unit ul {
	text-align: center;
}



.grid-cnt {
	min-height: 680px;
}



.tip-box {
	padding-right: 14px;
	max-width: 200px;
}

.tip-box + .tip-box {
	margin-right: 20px;
}



.tw-cnt .numeric {
	width: 82px;
}

.tw-cnt .numeric input {
	text-align: right;
}

.tw-cnt .birthday {
	width: 166px;
	line-height: 26px;
	text-align: center;
}

.tw-cnt td.numeric {
	font-family: Calibri;
}

.tw-cnt .birthday div {
	position: relative;
}

.tw-cnt input.date.min, .tw-cnt input.date.max {
	position: absolute;
	top: 50%;
	margin: -15px 0 0;
	width: 90px;
	height: 30px;
}

.tw-cnt input.min.date {
	left: 0;
}

.tw-cnt input.max.date {
	right: 0;
}

