# Apache configuration file (see httpd.apache.org/docs/2.2/mod/quickreference.html)

# configure PHP
<IfModule mod_php5.c>
     php_flag magic_quotes_gpc off
     php_flag register_globals off

     php_flag allow_call_time_pass_reference ON
     php_flag eaccelerator.enable 0
     php_flag eaccelerator.optimizer 0
</IfModule>

# enable cool URL
<IfModule mod_rewrite.c>
	RewriteEngine On
	# RewriteBase /

	# www-form redirection
	Options +FollowSymlinks
	# RewriteCond %{HTTP_HOST} !(twigrid).1991.cz
	# RewriteRule ^(twigrid/)?(.*)$ http://twigrid.1991.cz/$2 [R=301,NE,QSA,L]

	# prevents files starting with dot to be viewed by browser
	RewriteRule /\.|^\. - [F]

	# front controller
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule (.*) index.php [L]
</IfModule>

# enable gzip compression
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript text/javascript application/javascript application/json
</IfModule>
