{extends '../layout.latte'}



{block content}

	<h2 style="text-align: center;">{include #backlink} {include #heading}</h2>

	<div id="queries"></div>

{block |indent:1}{control dataGrid}{/block}

	<script type="text/javascript">var g_Queries = {$presenter->payload->queries};</script>

{/block}



{define backlink}<a n:href="default">&laquo;</a>{/define}
