parameters:
	appDir: %wwwDir%/app

php:
	date.timezone: UTC

session:
	save_path: %tempDir%/sessions
	expiration: + 14 days

database:
	dsn: 'sqlite:%appDir%/users.s3db'

services:
	sortingGrid: SortingGrid( ..., ... )
	filterGrid: FilterGrid( ..., ... )
	rowActionGrid: RowActionGrid( ..., ... )
	groupActionGrid: GroupActionGrid( ..., ... )
	inlineGrid: InlineGrid( ..., ... )
	paginationGrid: PaginationGrid( ..., ... )
	fullGrid: FullGrid( ..., ... )
