common:
	parameters: { appDir: %wwwDir%/app }

	php:
		date.timezone: Europe/Prague

	nette:
		xhtml: FALSE
		session:
			save_path: %tempDir%/sessions
			expiration: + 14 days
			autoStart: true
		database:
			dsn: 'sqlite:%appDir%/users.s3db'

	factories:
		simpleGrid: SimpleGrid( ..., ... )
		filterGrid: FilterGrid( ..., ... )
		rowActionGrid: RowActionGrid( ..., ... )
		groupActionGrid: GroupActionGrid( ..., ... )
		inlineGrid: InlineGrid( ..., ... )
		paginationGrid: PaginationGrid( ..., ... )
		fullGrid: FullGrid( ..., ... )

development < common:


production < common:
