parameters: { lang: cs, appDir: %wwwDir%/app }

php:
	date.timezone: Europe/Prague

nette:
	xhtml: FALSE
	session:
		save_path: %tempDir%/sessions
		expiration: + 14 days
		autoStart: true
	database:
		dsn: 'sqlite:%appDir%/users.s3db'

services:
	- DibiConnection( { driver: pdo, dsn: 'sqlite:%appDir%/users.s3db' } )
	-
		factory: NetteTranslator\Gettext::getTranslator( ... )
		setup:
			- addFile( %appDir%/lang, frontend )
			- NetteTranslator\Panel::register( ..., ... )
		run: TRUE

factories:
	dataGrid:
		factory: TwiGrid\DataGrid( ... )
		setup:
			- setTranslator( ... )
