body {
	padding: 45px 0 10px;
}

.navbar-fixed-top {
	box-shadow: 0 0 8px #000;
}



.tip-box {
	max-width: 300px;
	padding-right: 14px;
	margin-bottom: 10px;
}

.tip-box + .tip-box {
	margin-right: 20px;
}



.tw-cnt .filter-cell:last-of-type {
	min-width: 150px;
}

.tw-cnt .numeric {
	width: 82px;
}

.tw-cnt .numeric input {
	text-align: right;
}

.tw-cnt .birthday {
	width: 256px;
	line-height: 26px;
	text-align: center;
}

.tw-cnt td.numeric {
	font-family: Calibri;
}

.tw-cnt .birthday div {
	position: relative;
}

.tw-cnt input.date.min, .tw-cnt input.date.max {
	position: absolute;
	top: 50%;
	margin: -20px 0 0;
	width: 108px;
	height: 34px;
}

.tw-cnt input.min.date {
	left: 0;
}

.tw-cnt input.max.date {
	right: 0;
}
