<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TwiGrid example</title>

		<link href="{$basePath}/{='assets/vendor/bootstrap/dist/css/bootstrap.min.css' |mtime}" rel="stylesheet">
		<link href="{$basePath}/{='assets/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' |mtime}" rel="stylesheet">
		<link href="{$basePath}/{='assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' |mtime}" rel="stylesheet">
		<link href="{$basePath}/{='assets/vendor/twigrid-datagrid/assets/twigrid.datagrid.css' |mtime}" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/github.min.css">
		<link href="{$basePath}/{='assets/css/example.css' |mtime}" rel="stylesheet">
	</head>

	<body>

		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
						<span class="sr-only">Menu</span>
						<i class="fa fa-fw fa-bars"></i>
					</button>

					<a n:href="Example:homepage,
						dataGrid-poluted => null,
						dataGrid-orderBy => null,
						dataGrid-orderDesc => null,
						dataGrid-filters => null,
						dataGrid-page => null,
						dataGrid-inlineEditPrimary => null" class="navbar-brand">TwiGrid</a>
				</div>

				<div class="collapse navbar-collapse" id="main-menu">
					<ul class="nav navbar-nav">
						<li n:class="$presenter->isLinkCurrent('Example:homepage') ? 'active'"><a n:href="Example:homepage">Quickstart</a></li>
						<li n:class="$presenter->isLinkCurrent('Example:sorting') ? 'active'"><a n:href="Example:sorting">Sorting</a></li>
						<li n:class="$presenter->isLinkCurrent('Example:filtering') ? 'active'"><a n:href="Example:filtering">Filtering</a></li>
						<li n:class="$presenter->isLinkCurrent('Example:rowActions') ? 'active'"><a n:href="Example:rowActions">Row actions</a></li>
						<li n:class="$presenter->isLinkCurrent('Example:groupActions') ? 'active'"><a n:href="Example:groupActions">Group actions</a></li>
						<li n:class="$presenter->isLinkCurrent('Example:inline') ? 'active'"><a n:href="Example:inline">Inline editing</a></li>
						<li n:class="$presenter->isLinkCurrent('Example:pagination') ? 'active'"><a n:href="Example:pagination">Pagination</a></li>
						<li n:class="$presenter->isLinkCurrent('Example:full') ? 'active'"><a n:href="Example:full">Full featured</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="https://github.com/uestla/TwiGrid" target="_blank">
								<i class="fab fa-lg fa-github"></i> Source
							</a>
						</li>

						<li>
							<a href="https://github.com/uestla/twigrid-demo" target="_blank">
								<i class="fab fa-lg fa-github"></i> This demo
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">

			{ifset #h2}<h2 class="page-header">{include #h2}</h2>{/ifset}

			<div n:snippet="flashes">
				<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} hidable">{$flash->message}</div>
			</div>


{block content |indent:2}{/block}

		</div>

		<script src="{$basePath}/{='assets/vendor/jquery/dist/jquery.min.js' |mtime}"></script>
		<script src="{$basePath}/{='assets/vendor/bootstrap/dist/js/bootstrap.min.js' |mtime}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
		<script src="{$basePath}/{='assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' |mtime}"></script>
		<script src="{$basePath}/{='assets/vendor/nette-forms/src/assets/netteForms.min.js' |mtime}"></script>
		<script src="{$basePath}/{='assets/vendor/nette.ajax.js/nette.ajax.js' |mtime}"></script>
		<script src="{$basePath}/{='assets/vendor/twigrid-datagrid/assets/twigrid.datagrid.js' |mtime}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>
		<script src="{$basePath}/{='assets/js/example.js' |mtime}"></script>
	</body>
</html>
