{extends '@grid.latte'}


{block h2}Full featured example{/block}


{block content}

{include #grid, grid => 'fullGrid', sources => [ $sourceDir . '/FullGrid.php', $sourceDir . '/BaseGrid.php', $sourceDir . '/@full.latte' ]}

{/block}
