{extends '@grid.latte'}



{block h2}Quick item editing via inline edit feature{/block}


{block content}

{include #tip-box, tip => 'Press [Ctrl]+Click to activate inline editing and [Esc] to cancel it.'}

{include #grid, grid => 'inlineGrid', sources => $sourceDir . '/InlineGrid.php'}

{/block}
