<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TwiGrid example</title>

		<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" media="screen" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<link href="{$basePath}/{='css/bootstrap-datetimepicker.min.css' |mtime}" rel="stylesheet">
		<link href="{$basePath}/{='css/twigrid.datagrid.css' |mtime}" rel="stylesheet">  <!-- required for datagrid styling -->
		<link href="{$basePath}/{='css/highlight.js/github.css' |mtime}" rel="stylesheet">
		<link href="{$basePath}/{='css/example.css' |mtime}" rel="stylesheet">

		<!-- @GA@ -->
	</head>

	<body>
		<div class="container">

			<div class="page-header">
				<ul class="list-inline pull-right">
					<li>
						<a href="https://github.com/uestla/twigrid/archive/master.zip" class="btn btn-success">
							<span class="glyphicon glyphicon-download"></span>
							Download
						</a>
					</li>

					<!-- @DONATION@ -->
				</ul>

				<h1>
					<a n:href="Example:default,
						dataGrid-poluted => NULL, dataGrid-orderBy => NULL, dataGrid-orderDesc => NULL, dataGrid-filters => NULL, dataGrid-page => NULL, dataGrid-inlineEditPrimary => NULL">TwiGrid\DataGrid</a>
				</h1>

				<ul class="list-inline lead">
					<li>
						<a href="https://github.com/uestla/twigrid/blob/master/README.md#quickstart" target="_blank"><i class="fa fa-book"></i> tutorial</a>
					</li>

					<li>
						<a href="https://github.com/uestla/twigrid" target="_blank"><i class="fa fa-code"></i> source code</a>
					</li>

					<li>
						<a href="https://github.com/uestla/twigrid-demo" target="_blank"><i class="fa fa-code"></i> demo</a>
					</li>

					<li>
						<a href="http://forum.nette.org/cs/13181-twigrid-omlouvam-se" target="_blank"><i class="fa fa-comments"></i> forum <small>(cs)</small></a>
					</li>
				</ul>
			</div>


			{ifset #h2}<h2>{include #h2}</h2>{/ifset}

			<ul class="pull-left list-inline" n:if="$presenter->action !== 'default'">
				<li>
					<a n:href="default" class="btn btn-default">&laquo; back home</a>
				</li>
			</ul>


			<div n:snippet="flashes">
				<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} hidable">{$flash->message}</div>
			</div>


{block content |indent:2}{/block}


			<!-- @ADS@ -->

		</div>

		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{$basePath}/{='js/moment.min.js' |mtime}"></script>
		<script type="text/javascript" src="{$basePath}/{='js/bootstrap-datetimepicker.min.js' |mtime}"></script>
		<script type="text/javascript" src="//cdn.rawgit.com/nette/forms/master/src/assets/netteForms.js"></script>
		<script type="text/javascript" src="//cdn.rawgit.com/vojtech-dobes/nette.ajax.js/master/nette.ajax.js"></script>
		<script type="text/javascript" src="{$basePath}/{='js/twigrid.datagrid.js' |mtime}"></script>
		<script type="text/javascript" src="{$basePath}/{='js/highlight.js/highlight.pack.js' |mtime}"></script>
		<script type="text/javascript" src="{$basePath}/{='js/script.js' |mtime}"></script>
	</body>
</html>
