{extends '@grid.latte'}



{block h2}Paginate result set{/block}


{block content}

{include #tip-box, tip => 'Note that $limit and $offset parameters are appended to the dataLoader callback.'}

{include #grid, grid => 'paginationGrid', sources => $sourceDir . '/PaginationGrid.php'}

{/block}
