{extends '@grid.latte'}


{block h2}Row actions{/block}


{block content}

	<p class="lead">Row actions allow you to manipulate with a&nbsp;single record.</p>

{include #grid, grid => 'rowActionGrid', sources => [ $sourceDir . '/RowActionGrid.php', $sourceDir . '/BaseGrid.php' ]}

{/block}
