{extends '@grid.latte'}


{block h2}Row actions{/block}


{block content}

{include #grid, grid => 'rowActionGrid', sources => [ $sourceDir . '/RowActionGrid.php', $sourceDir . '/BaseGrid.php' ]}

{/block}
