{extends '@grid.latte'}


{block h2}Manipulating with single record via row actions{/block}


{block content}

{include #grid, grid => 'rowActionGrid', sources => $sourceDir . '/RowActionGrid.php'}

{/block}
