{extends '@grid.latte'}



{block h2}Few columns with sorting ability{/block}



{block content}

{include #tip-box, tip => 'Sorting has 3 states - ascending, descending and default state.'}

{include #grid, grid => 'simpleGrid', sources => $sourceDir . '/SimpleGrid.php'}

{/block}
